<p id="notice"><%= notice %></p>

<p>
  <strong>H1:</strong>
  <%= @score.h1 %>
  <strong>H2:</strong>
  <%= @score.h2 %>
</p>

<p>
  <strong>H2:</strong>
  <%= @score.h2 %>
</p>

<p>
  <strong>H3:</strong>
  <%= @score.h3 %>
</p>

<p>
  <strong>H4:</strong>
  <%= @score.h4 %>
</p>

<p>
  <strong>H5:</strong>
  <%= @score.h5 %>
</p>

<p>
  <strong>H6:</strong>
  <%= @score.h6 %>
</p>

<p>
  <strong>H7:</strong>
  <%= @score.h7 %>
</p>

<p>
  <strong>H8:</strong>
  <%= @score.h8 %>
</p>

<p>
  <strong>H9:</strong>
  <%= @score.h9 %>
</p>

<p>
  <strong>H10:</strong>
  <%= @score.h10 %>
</p>

<p>
  <strong>H11:</strong>
  <%= @score.h11 %>
</p>

<p>
  <strong>H12:</strong>
  <%= @score.h12 %>
</p>

<p>
  <strong>H13:</strong>
  <%= @score.h13 %>
</p>

<p>
  <strong>H14:</strong>
  <%= @score.h14 %>
</p>

<p>
  <strong>H15:</strong>
  <%= @score.h15 %>
</p>

<p>
  <strong>H16:</strong>
  <%= @score.h16 %>
</p>

<p>
  <strong>H17:</strong>
  <%= @score.h17 %>
</p>

<p>
  <strong>H18:</strong>
  <%= @score.h18 %>
</p>

<p>
  <strong>Golfer:</strong>
  <%= @score.golfer.name %>
</p>

<p>
  <strong>Tournament:</strong>
  <%= @score.tournament.date %>
</p>

<p>
  <strong>Course:</strong>
  <%= @score.tournament.course %>
</p>

<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>
