<p id="notice"><%= notice %></p>

<h1>Tournaments</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Course</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tournaments.each do |tournament| %>
      <tr>
        <td><%= tournament.date %></td>
        <td><%= tournament.course %></td>
        <td><%= link_to 'Show', tournament %></td>
        <td><%= link_to 'Edit', edit_tournament_path(tournament) %></td>
        <td><%= link_to 'Delete', tournament, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

  <tbody>
     <% @members = Golfer.all %>
    <% @members.each do |member| %>
      <tr>
      
          <input type="checkbox" name="golfer" value=<%= member.id %>> <%= member.name %>

      </tr><br>
    <% end %>
  </tbody>
</table>
<input type="submit" name="Submit">

<%= link_to 'New Tournament', new_tournament_path %>
